# Android Studio / IntelliJ
*.iml
.idea/

# Gradle
.gradle/
build/

# Local config (rutas SDK, posibles keys)
local.properties

# macOS
.DS_Store

# Native build
.externalNativeBuild/
.cxx/
captures/

# Outputs de build
*.apk
*.aab

# Firmas de release (NUNCA subir)
*.jks
*.keystore
